{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}

{% block title %} Supprimer la sous Catégorie {% endblock %}

{% block content %}

<div class="container">

    <form action="" method="POST">

        {% csrf_token %}
        <h1>Voulez-vous Supprimer la sous Catégorie : <br /> (( {{ sub_category.name }} ))  ?</h1>
        <div class="form-group">
            <p><input type="submit" value="Supprimer" class="btn btn-danger"> <a href="{% url 'sub_category' %}" class="btn btn-info">Annuler</a></p> </p>
        </div>
        
    </form>


</div>


{% endblock %}