{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% load i18n %}

{% get_current_language as LANGUAGE_CODE %}

{% block title %} {% trans 'Les Recettes' %} {% endblock %}


{% block content %}



<div class="container">
    {% if LANGUAGE_CODE == 'fr' %}
    <h2>( {{ users_num }} ) Utilisateur{{ users_num|pluralize }}, ( {{ num_articles_pub }} ) Recette{{ num_articles_pub|pluralize }} publiés et (
        {{ num_articles_n_pub }} ) Recette{{ num_articles_n_pub|pluralize }} pas encore publié, ils sont en attente de confirmation :) </h2>
    {% elif LANGUAGE_CODE == 'en' %}
        <h2>
            We have in our site : ( {{ users_num }} ) User{{ users_num|pluralize }}, ( {{ num_articles_pub }} ) Recipe{{ num_articles_pub|pluralize }} published and ( {{ num_articles_n_pub }} ) Recipe{{ num_articles_n_pub|pluralize }} waiting the confirmation from the Admin
        </h2>
    {% elif LANGUAGE_CODE == 'ar' %}
        <h2 dir="rtl">
           مستخدم و ( {{ num_articles_pub }} ) وصفات منشورة و  ( {{ num_articles_n_pub }} ) وصفات بانتظار الموافقة على النشر ( {{ users_num }} ) يوجد في الموقع 
        </h2>
    {% endif %}
    <hr>
    <section>


        {% if request.user.is_authenticated %}
        <!-- Hi {{ user.username }} ! -->

        <!-- ========= Add Article =========== -->

        <h2> " {{ user }} " : Voulez-vous <button id="btn-add-article" class="btn btn-info">Ajouter une Recette</button> ? </h2>

        <div id="add-article" class="d-none">
            <form id="create-article" action="" method="POST" enctype="multipart/form-data">

                {% csrf_token %}

                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <div class="alert alert-success" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <!-- <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li> -->
                    {% endfor %}
                </ul>
                {% endif %}

                {% if form_new_article.errors %}
                <div class="alert alert-danger alert-dismissible col-12" role="alert">
                    <div id="form_errors">

                        {% for key, value in form_new_article.errors.items %}
                        <span class="fieldWrapper">
                            {{ key }}:{{ value }}
                        </span>
                        {% endfor %}
                    </div>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% elif formset.total_error_count %}
                <div class="alert alert-danger alert-dismissible col-12 mx-1" role="alert">
                    {% endif %}

                    <!-- {{ form_new_article.management_form|crispy }}
                    
                {% for form in form_new_article %}
                    {{ form }}
                {% endfor %}
                 -->
                    {{ form_new_article.media }}
                    <!-- {% crispy form_new_article %} -->
                    <div class="form-group">
                        {{ form_new_article.language|as_crispy_field }}
                    </div>
                    <div class="form-group">
                        {{ form_new_article.category|as_crispy_field }}
                    </div>
                    <div class="form-group">
                        {{ form_new_article.sub_category|as_crispy_field }}
                    </div>
                    <div class="form-group">
                        {{ form_new_article.title|as_crispy_field }}
                    </div>
                    <div class="form-group">
                        {{ form_new_article.description|as_crispy_field }}
                    </div>
                    
                    {% if request.user.is_superuser %}
                    <div class="form-group">
                        {{ form_new_article.is_published.label_tag }}
                        {{ form_new_article.is_published }}
                    </div>
                    {% endif %}


                    <!-- <div class="form-group">
                    {{ form_new_article.category.label_tag }}
                    {{ form_new_article.category|add_class:'form-controler'  }}
                </div>
    
                <div class="form-group">
                    {{ form_new_article.sub_category.label_tag }}
                    {{ form_new_article.sub_category|add_class:'form-controler'  }}
                </div>
    
                <div class="form-group">
                    {{ form_new_article.title.label_tag }}
                    {{ form_new_article.title|add_class:'form-controler'  }}
                </div>
    
                <div class="form-group">
                    {{ form_new_article.description.label_tag }}
                    {{ form_new_article.description|add_class:'form-controler'  }}
                </div> -->






                    <!-- <div class="form-group">
                {{ form_new_article.image.label_tag }}
                {{ form_new_article.image|add_class:'form-controler'|attr:"multiple"  }}
            </div> -->

                    <div class="form-group add-multiple">

                        <!-- <button type="button" class="btn btn-primary js-upload-photos">
                    <span class="glyphicon glyphicon-cloud-upload"></span> Upload photos
                </button> -->
                        {{ form_new_media.management_form|crispy }}
                        {% for form in form_new_media %}
                        {{ form }}
                        {% endfor %}
                        {% if uploaded_file_url %}
                        <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
                        {% endif %}

                        <!-- {{form_new_media}} -->

                        <!-- <input id="fileupload" type="file" name="file" multiple
                    style="display: none;"
                    data-url="{% url 'home' %}"
                    data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'> -->
                    </div>

                    


                    <div class="form-group">
                        <input type="submit" value="New Article" class="btn btn-success">
                    </div>

            </form>

        </div>
        <!-- ========== End Add Article =========== -->

        {% else %}
        <p class="text">You are not logged in :) , You have to login for add Article</p>
        <a href="{% url 'login' %}" class="btn btn-primary">login</a>
        {% endif %}



    </section>


    <hr>
    <section>
        <button class="btn btn-info" id="btn-filter">Filtre</button>

        <div id="filter" class="container-search d-none">
            <form action="" method="get" class="form my-2 my-lg-0">
                <div class="form-group">
                    {{ myFilter.form|crispy }}
                </div>
                <div class="form-group">
                    <button class="btn btn-success mt-3">Search</button>
                </div>
            </form>
        </div>

        <hr>




        <!-- ============================================ -->

        {% if articles_list %}
        <div class="">
            <h1>Les Recettes</h1>
            <!-- for article in articles.object_list -->
            {% for article in articles_list %}

            <!-- .reverse -->

            {% if article.is_published == True %}

            <!-- Start the cards -->
            <!-- .reverse -->

            <!-- Card -->
            <div class="card promoting-card">

                <!-- Card content -->
                <div class="card-body d-flex flex-row">

                    <!-- Avatar -->
                    <figure class="mr-3">
                        {% if article.auther.profile.profile_pic %}
                        <img src="{{ article.auther.profile.profile_pic.url }}" alt="{{ article.auther }}"
                            class="rounded-circle account-img" width="70px">
                        {% else %}
                        <img src="media/profiles/default_user.jpg" class="rounded-circle" alt="{{ article.auther }}"
                            class="rounded-circle account-img" width="80px" height="80px">
                        {% endif %}
                    </figure>
                    <!-- <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg" class="rounded-circle mr-3"
                        height="50px" width="50px" alt="avatar"> -->

                    <!-- Content -->
                    <div>

                        <!-- Title -->
                        {% if article.auther %}
                        <h4 class="card-title font-weight-bold mb-2">{{ article.auther }}</h4>
                        {% else %}
                        <h4 class="card-title font-weight-bold mb-2">Anonymous author</h4>
                        {% endif %}
                        <!-- Subtitle -->
                        <p class="card-text"><i class="far fa-clock pr-2"></i>{{ article.date_published }}</p>
                        {% if article.date_updated %}
                        <p class="card-text"><i class="far fa-clock pr-2"></i>Mise à jour le : {{ article.date_updated }}
                        </p>
                        {% endif%}

                    </div>

                </div>

                <!-- Card image -->
                <div class="view overlay">



                    <!-- <img class="card-img-top rounded-0" src="{{ p.media.url }}" alt="Card image cap">
                    <a href="#!">
                        <div class="mask rgba-white-slight"></div>
                    </a> -->




                    <!-- ============================ -->

                    <div class="row">
                        <div class="col-md-12">

                            <div id="mdb-lightbox-ui"></div>

                            <div class="mdb-lightbox no-margin">
                                {{ article.medias }}

                                {% for p in article.medias_set.all %}
                                {% if '.tif' in p.media.url or '.tiff' in p.media.url or '.bmp' in p.media.url or '.jpg' in p.media.url or '.jpeg' in p.media.url or '.gif' in p.media.url or '.png' in p.media.url or '.eps' in p.media.url %}
                                <figure class="col-md-4">
                                    <a href="{{ p.media.url }}" data-size="1600x1067" target="_blank">
                                        <img alt="{{ p.title }}" src="{{ p.media.url }}" class="img-fluid">
                                    </a>
                                </figure>
                                {% else %}
                                <video width="320" height="240" controls>
                                    <source src="{{ p.media.url }}" type="video/mp4">
                                    <source src="{{ p.media.url }}" type="video/webm">
                                    <source src="{{ p.media.url }}" type="video/mkv">
                                    <source src="{{ p.media.url }}" type="video/flv">
                                    <source src="{{ p.media.url }}" type="video/vob">
                                    <source src="{{ p.media.url }}" type="video/ogv">
                                    <source src="{{ p.media.url }}" type="video/ogg">
                                    <source src="{{ p.media.url }}" type="video/drc">
                                    <source src="{{ p.media.url }}" type="video/gifv">
                                    <source src="{{ p.media.url }}" type="video/mng">
                                    <source src="{{ p.media.url }}" type="video/avi">
                                    <source src="{{ p.media.url }}" type="video/mov">
                                    <source src="{{ p.media.url }}" type="video/qt">
                                    <source src="{{ p.media.url }}" type="video/wmv">
                                    <source src="{{ p.media.url }}" type="video/yuv">
                                    <source src="{{ p.media.url }}" type="video/rm">
                                    <source src="{{ p.media.url }}" type="video/rmvb">
                                    <source src="{{ p.media.url }}" type="video/asf">
                                    <source src="{{ p.media.url }}" type="video/amv">
                                    <source src="{{ p.media.url }}" type="video/m4p">
                                    <source src="{{ p.media.url }}" type="video/m4v">
                                    <source src="{{ p.media.url }}" type="video/mpg">
                                    <source src="{{ p.media.url }}" type="video/mp2">
                                    <source src="{{ p.media.url }}" type="video/mpeg">
                                    <source src="{{ p.media.url }}" type="video/mpe">
                                    <source src="{{ p.media.url }}" type="video/mpv">
                                    <source src="{{ p.media.url }}" type="video/mpg">
                                    <source src="{{ p.media.url }}" type="video/mpeg">
                                    <source src="{{ p.media.url }}" type="video/m2v">
                                    <source src="{{ p.media.url }}" type="video/m4v">
                                    <source src="{{ p.media.url }}" type="video/svi">
                                    <source src="{{ p.media.url }}" type="video/3gp">
                                    <source src="{{ p.media.url }}" type="video/3g2">
                                    <source src="{{ p.media.url }}" type="video/mxf">
                                    <source src="{{ p.media.url }}" type="video/roq">
                                    <source src="{{ p.media.url }}" type="video/nsv">
                                    <source src="{{ p.media.url }}" type="video/flv">
                                    <source src="{{ p.media.url }}" type="video/f4v">
                                    <source src="{{ p.media.url }}" type="video/f4p">
                                    <source src="{{ p.media.url }}" type="video/f4a">
                                    <source src="{{ p.media.url }}" type="video/f4b">
                                </video>
                                {% endif %}

                                {% endfor %}



                            </div>

                        </div>
                    </div>



                    <!-- ============================= -->

                </div>

                <!-- Card content -->
                <div class="card-body">

                    <div class="collapse-content">


                        <!-- Title -->
                        <h2 class="card-title font-weight-bold mb-2">{{ article.title }}</h2>
                        <h5 class="card-title font-weight-bold mb-2">Catégorie : {{ article.category }}</h5>
                        <h5 class="card-title font-weight-bold mb-2">Sous Catégorie : {{ article.sub_category }}</h5>
                        <!-- Text -->
                        <p class="card-text collapse" id="collapseContent{{ article.id }}">
                            {{ article.description|safe }}</p>
                        <!-- Button -->
                        <a class="btn btn-flat red-text p-1 my-1 mr-0 mml-1 collapsed" data-toggle="collapse"
                            href="#collapseContent{{ article.id }}" aria-expanded="false"
                            aria-controls="collapseContent"></a>
                        <i class="fas fa-share-alt text-muted float-right p-1 my-1" data-toggle="tooltip"
                            data-placement="top" title="partagez cette recette"></i>

                        <i class="fas fa-heart text-muted float-right p-1 my-1 mr-3" data-toggle="tooltip"
                            data-placement="top" title="J'aime"> {{article.total_likes}}</i>

                        <a href="{% url 'detail_article' article.id %}" class="btn btn-info"> <i
                                class="fa fa-info-circle" aria-hidden="true"> </i>
                                Détail recette </a>




                    </div>

                    {% if user.is_authenticated %}
                    {% if request.user == article.auther or user.is_superuser %}
                    <a href="{% url 'update_article' article.id %}" class="btn btn-warning"><i class='far fa-edit'
                            aria-hidden="true"></i>
                    </a>
                    <a href="{% url 'delete_article' article.id %}" class="btn btn-danger"><i class="fa fa-trash"
                            aria-hidden="true"></i>
                    </a>
                    {% endif %}




                    {% endif %}
                </div>

            </div>
            <!-- Card -->



            <!-- End the cards  -->

            {% endif %}


            {% endfor %}
        </div>



        {% endif %}
        <!--         
        <nav aria-label="Page navigation example ">

            <ul class="pagination pg-bluegrey justify-content-center pt-3">
                {% if articles.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ articles.previous_page_number }}">Previous</a>
                </li>
                {% endif %}
                {% for pg in articles.paginator.page_range %}
                {% if articles.number == pg %}
                <li class="page-item active"> <a class="page-link" href="?page={{ pg }}">{{ pg }}</a> </li>
                {% else %}
                <li class="page-item"> <a class="page-link" href="?page={{ pg }}">{{ pg }}</a> </li>
                {% endif %}
                {% endfor %}
                {% if articles.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ articles.next_page_number }}">Next</a></li>
                {% endif %}
            </ul>
        </nav> -->
</div>

</section>













</div>

<!-- https://www.youtube.com/watch?v=jjdeOp_E7OU -->
{% endblock %}