{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %} Activation envoyée {% endblock %}

{% block content %}

<div class="container">
    <h1>Avtivation de compte envoyée</h1>
    <h2>Cuisine Levantine</h2>

    <!-- <a href="">Login</a>
    <a href="">Signup</a> -->

    <p>Veuillez confirmer votre adresse courriel pour terminer le processus d’inscription.</p>
    <!-- <p>Please confirm your email address to complete the registration process.</p> -->
</div>

{% endblock %}