{% extends "base.html" %}
{% load i18n %}


{% block title %} votre mot de passe à été changé avec succès {% endblock %}

{% block content %}
<div class="container">

<div class="alert alert-info">

    <p class="text-center">votre mot de passe à été changé avec succès</p>

</div>

<div class="border-top pt-3">
    <small class="text-muted">
        Vous pouvez vous connecter avec votre mot de passe actuel <a class="btn btn-info"href="{% url 'login' %}">Connecter</a>
    </small>
</div>

</div>
{% endblock %}