{% extends "base.html" %}
{% load i18n %}


{% block title %} Réinitialisation du mot de passe effectuée {% endblock %}

{% block content %}
<div class="container">

<div class="alert alert-info">

    <p class="text-center">Un courriel a été envoyé avec des instructions pour réinitialiser votre mot de passe.</p>

</div>

<div class="border-top pt-3">
    <small class="text-muted">
        Vous pouvez aller à la <a class="btn btn-info"href="{% url 'home' %}">page d’accueil</a>
    </small>
</div>

</div>
{% endblock %}