{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}


{% block title %} Réinitialiser mot de passe {% endblock %}

{% block content %}

<div class="container">
    <h1>Réinitialiser mot de passe</h1>

    <div class="content-section">
        <form method="POST" action="" class="form-group">
            {% csrf_token %}
            <fieldset class="form-group">
                <!-- <legend class="border-bottom mb-4">
                    Reset Your Password hear
                </legend> -->
                {{ form|crispy  }}
                <div class="form-group">
                    <input type="submit" class="btn btn-success" value="réinitialiser">
                </div>
                
            </fieldset>
        </form>
        
    </div>

<!-- 
    <form method="POST" action="" class="form-group">
        
        {{ form|crispy }}
        <input type="submit" class="btn btn-success" value="Register">

    </form> -->
</div>

{% endblock %}