{% extends "base.html" %}
{% load i18n %}

{% block title %} Votre mot de passe à été Réinitialiser avec succès {% endblock %}


{% block content %}
<div class="container">

<div class="alert alert-info">

    <p class="text-center">Votre mot de passe à été Réinitialiser avec succès</p>

</div>

<div class="border-top pt-3">
    <small class="text-muted">
        Vous pouvez vous  <a class="btn btn-info"href="{% url 'login' %}">Connecter</a>
        Or 
        Vous pouvez aller à la  <a class="btn btn-info"href="{% url 'home' %}">page d’accueil</a>
    </small>
</div>

</div>
{% endblock %}